body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.commonBtn {
  color: #FFFFFF;
  font-size: 1.2em;
  border: none;
  position: relative;
  overflow: hidden;
  z-index: 1;
  padding: 5px 20px;
  margin: 0 5px;
  cursor: pointer;
}

.commonBtn:before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background: rgba(3, 116, 180, .8);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  padding: 5px 20px;
  cursor: pointer;
}

.commonBtn:after {
  content: "";
  display: block;
  width: 120px;
  height: 120px;
  background: rgba(3, 116, 180, 1);
  position: absolute;
  right: -12px;
  top: -62px;
  transform: rotate(45deg);
  transition: right .5s;
  z-index: -1;
  cursor: pointer;
}

.commonBtn:hover:after {
  cursor: pointer;
  right: -95px;
}

.secondaryBtn {
  color: #FFFFFF;
  font-size: 1em;
  border: none;
  position: relative;
  overflow: hidden;
  z-index: 1;
  padding: 5px 20px;
  margin: 0 5px;
  cursor: pointer;
}

.secondaryBtn:before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background: rgb(40, 117, 10);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  padding: 5px 20px;
  cursor: pointer;
}

.secondaryBtn:after {
  content: "";
  display: block;
  width: 120px;
  height: 120px;
  background: rgba(117, 214, 78, 0.15);
  position: absolute;
  right: -12px;
  top: -62px;
  transform: rotate(45deg);
  transition: right .5s;
  z-index: -1;
  cursor: pointer;
}

.secondaryBtn:hover:after {
  cursor: pointer;
  right: -95px;
}