.App {
  text-align: center;
  height: 100vh;
}

.logo {
  width: 20%;
  height: auto;
}

.welcome-info {
  color: #0374B4;
  padding: 230px 20px;
}

/* Logo appears on edit & add modals */
.logo-two {
  width: 150px;
  height: auto;
  position: absolute;
  right: 10vw;
  top: 10%;
}

.logout {
  margin: 5px;
  position: absolute;
  top: 0;
  right: 0;
}

.background-shape {
  opacity: .8;
  position: absolute;
  width: 600px;
  height: 400px;
  clip-path: polygon(0 0, 100% 50%, 100% 100%, 0% 100%);
  left: 0;
  top: 310px;
  background-image: linear-gradient(to top left, #0374B4, #5532FF);
  animation: shine 1s infinite ease-in-out;
  animation-duration: 6s;
  animation-delay: 2s;
}

.background-shape-two {
  opacity: .8;
  position: absolute;
  width: 600px;
  height: 100vh;
  right: 0;
  top: -455px;
  transform: skewY(20deg);
  background-image: linear-gradient(to top left, #0374B4, #5532FF);
  animation: shine 1s infinite ease-in-out;
  animation-duration: 6s;
  animation-delay: 1s;
}

@keyframes shine {
  0%{
    opacity: .7;
    background-image: linear-gradient(to top left, #FFA101, rgb(236, 161, 236));
  }

  3%{
    opacity: .1;
    background-image: linear-gradient(to top left, #0374B4, rgb(236, 161, 236));
  }

  7%{
    opacity: .8;
    background-image: linear-gradient(to top left, #0374B4, white);
  }

  13%{
    opacity: .2;
    background-image: linear-gradient(to top left, #0374B4, white);
  }

  15%{
    opacity: .3;
    background-image: linear-gradient(to top left, #0374B4, white);
  }

  20%{
    opacity: .1;
    background-image: linear-gradient(to top left, skyblue , #0374B4);
  }

  22%, 100%{
    opacity: .7;
    background-image: linear-gradient(to top left, skyblue , #0374B4);
  }
}