.App {
  text-align: center;
  height: 100vh;
}

.welcome-info {
  color: #0374B4;
  padding: 200px 20px;
}

.logout {
  margin: 5px;
  position: absolute;
  top: 0;
  right: 0;
}

.background-shape {
  opacity: .8;
  position: absolute;
  width: 600px;
  height: 150px;
  left: 0;
  top: 330px;
  transform: skewY(20deg);
  background-image: linear-gradient(to top left, rgb(138, 222, 248), #5532FF);
  animation: shine 1s infinite ease-in-out;
  animation-duration: 6s;
  animation-delay: 2s;
}

.background-shape-two {
  opacity: .8;
  position: absolute;
  width: 600px;
  height: 130px;
  right: 0;
  top: 50px;
  transform: skewY(20deg);
  background-image: linear-gradient(to top left, rgb(138, 222, 248), #5532FF);
  animation: shine 1s infinite ease-in-out;
  animation-duration: 6s;
  animation-delay: 1s;
}

@keyframes shine {
  0%{
    opacity: .7;
    background-image: linear-gradient(to top left, #FFA101, rgb(236, 161, 236));
  }

  3%{
    opacity: .1;
    background-image: linear-gradient(to top left, rgb(149, 214, 214), rgb(236, 161, 236));
  }

  7%{
    opacity: .8;
    background-image: linear-gradient(to top left, rgb(149, 214, 214), white);
  }

  13%{
    opacity: .2;
    background-image: linear-gradient(to top left, rgb(149, 214, 214), white);
  }

  15%{
    opacity: .3;
    background-image: linear-gradient(to top left, rgb(149, 214, 214), white);
  }

  20%{
    opacity: .1;
    background-image: linear-gradient(to top left, skyblue , #5532FF);
  }

  22%, 100%{
    opacity: .7;
    background-image: linear-gradient(to top left, skyblue , #5532FF);
  }
}