.Employee {
  flex: 1 1 30%;
}

.employee-name, .employee-info {
  color: rgb(3, 116, 180);
}

.employee-info {
  font-size: .9em;
  font-weight: 700;
  padding: 3px;
}

.employee-date {
  font-size: .9em;
}

.active-status {
  color: #50C878
}

.inactive-status {
  color: #F44336
}

